html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,100,200);
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	text-align: center;
	font-size: 2em;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="radio"]:checked + label {
	color: white;
}

input[type="radio"]:not(:checked) + label {
	color: grey;
}

.thanksgiving {
	background-color: saddlebrown;
	color: orange;
}

.christmas {
	background-color: green;
	color: white;
}