body {
  font-family: 'Pacifico', cursive;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-size: 2em; /* Increase font size */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow for depth */
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="radio"]:checked + label {
  color: white;
}

input[type="radio"]:not(:checked) + label {
  color: grey;
}

/* Thanksgiving colors */
.thanksgiving {
  background-color: saddlebrown;
  color: orange;
}

/* Christmas colors */
.christmas {
  background-color: green;
  color: white; /* Change text color to white for better visibility */
}